# Backend
MONGODB_URL=mongodb://localhost:27017/hoopflex
DEBUG=True
LOG_LEVEL=INFO

# Frontend
REACT_NATIVE_BACKEND_URL=http://localhost:8000
EXPO_PUBLIC_API_URL=http://localhost:8000

# Firebase (si lo usas)
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=

# JWT / Security
SECRET_KEY=your-secret-key-change-in-production
JWT_ALGORITHM=HS256
